
@{
    ViewData["Title"] = "TicketNotFound";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<br />
<br />
<br />
<br />
<br />

<h1 style="text-align: center;">Bir biletiniz bulunmamaktadır</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />